.bg-image {
  display: block;
  background: url("../images/1440-8.jpg") no-repeat center;
  background-size: cover;
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);
  position: absolute;
  width: 100%;
  height: 100%; }

h1 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 100;
  color: white;
  margin: 0 auto; }

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: transparent;
  border: 1px solid black;
  height: 900px; }

.project-box {
  border: 1px solid black;
  background: grey;
  border-radius: 10%;
  width: 30%;
  height: 50%; }
  .project-box h1 {
    color: red;
    margin: 0 auto;
    text-align: center; }
